@import "compass/reset";

body {
	font-size: 12px !important;
}

b { font-weight: bold; }
i { font-style: italic; }
small { font-size: 0.75em; }

h1 {
	font-size: 1.5em;
	font-family: Georgia;
	text-align: center;
}

footer {
	text-align: right;
}

table {
	border-collapse: collapse;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

th, td {
	vertical-align: top;
	border: dashed 1px #6cf;
	padding: 0.5em;
}

th {
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
}

tbody {
	th { padding: 64px 0; }
	td:nth-child(2), td:nth-child(8) {
	 	.note:nth-child(even) { clear: none; }
	}
}

.spacer, .note {
	width: 7.5em;
}

.spacer {
	margin: 0 0.625em;
}

.note {
	display: block;
	position: relative;
	overflow: hidden;
	float: left;
	clear: both;
	margin: 0.125em;
	padding: 0.5em;
	border: solid 1px #222;
	height: 7.5em;

	text-align: justify;

	a.delete {
		display: none;
		position: absolute;
		top: 5px;
		right: 5px;
		color: black;
		font-weight: bold;
		text-decoration: none;
	}

	&:hover a.delete { display: block; }
}
